<%
    let month = []
    page.posts.each(post => {
        if (!month.includes(date(post.date, 'MMMM'))) month.push(date(post.date, 'MMMM'))
    })
%>
<div class="archive-content">
    <%- list_archives({type: 'yearly', show_count:false}) %>
    <ul class="month-list">
        <% if (is_year(page.year)) { %>
            <% month.forEach(v => { %>
                <li class="month-item">
                    <h3 class="month"><%= v %></h3>
                    <ul class="post-list">
                        <% page.posts.each(post => { %>
                            <% if (date(post.date, 'MMMM') != v) return %>
                            <li class="item">
                                <i class="gg-shape-circle"></i>
                                <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        <% } %>
    </ul>
    <% if (page.total > 1) { %>
        <%- partial('_partial/paginator.ejs') %>
    <% } %>
</div>
