<!DOCTYPE html>
<html lang="<%- theme.language || config.language %> ">
    <%- partial('_partial/head.ejs') %>
    <body>
        <div class="container">
            <% if (!is_home()) { %>
                <%- partial('_partial/header.ejs') %>
            <% } %>
            <div class="wrap"><%- body %></div>
            <%- partial('_partial/footer.ejs') %>
        </div>
    </body>
</html>