<% if (is_current('/articles/')) { %>
    <%- partial('_partial/tab.ejs') %>
    <div class="index-content">
        <% page.posts.each((post) => { %>
            <div class="post-item">
                <% if (post.pre_img) { %>
                    <img class="front-img" src="<%- post.pre_img %>" alt="封面">
                <% } %>
                <a class="title" href="<%- url_for(post.path) %> "><%- post.title %></a>
                <div class="info">
                    <span class="date"><%- date(post.date) %></span>
                    <%- partial('_partial/tip.ejs', {post: post, open_sticky: true}) %>
                </div>
                <% if (post.excerpt) { %>
                    <%- post.excerpt %>
                <% } %>
            </div>
        <% }) %>
    </div>
    <%- partial('_partial/paginator.ejs') %>
<% } %>